.tools-container {
  background-color: black;
  padding: 1em;
  min-height: 20em;
  min-width: 5em;
  position: fixed;
  top: 10%;
  margin-left: 2em;
  text-align: center;
  display: flex;
  flex-direction: column;
}
